In [1]:
# Type of 12

type(12)

int

In [2]:
# Type of 2.14

type(2.14)

float

In [3]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [4]:
type(12.0)

float

In [5]:
type(-1)

int

In [6]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [7]:
# System settings about float type

sys.float_info

NameError: name 'sys' is not defined

In [8]:
# Verify that this is an integer

type(2)

int

In [9]:
# Convert 2 to a float

float(2)

2.0

In [10]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [11]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [12]:
# Convert a string into an integer

int('1')

1

In [13]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [14]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [15]:
# Convert an integer to a string

str(1)

'1'

In [16]:
# Convert a float to a string

str(1.2)

'1.2'

In [17]:
# Type of True

type(True)

bool

In [18]:
# Type of False

type(False)

bool

In [19]:
# Convert True to int

int(True)

1

In [20]:
# Convert 1 to boolean

bool(1)

True

In [21]:
# Convert 0 to boolean

bool(0)

False

In [22]:
# Convert True to float

float(True)

1.0

In [23]:
# Convert True to float

float(False)

0.0

In [24]:
type(6 // 2)

int

In [25]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [26]:
# Subtraction operation expression

50 - 60

-10

In [27]:
# Multiplication operation expression

5 * 5

25

In [28]:
# Division operation expression

25 / 5

5.0

In [29]:
# Division operation expression

25 / 6

4.166666666666667

In [30]:
# Integer division operation expression

25 // 5

5

In [31]:
# Integer division operation expression

25 // 6

4

In [32]:
# Mathematical expression

30 + 2 * 60

150

In [33]:
# Mathematical expression

(30 + 2) * 60

1920